<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/home/css/index.css">
</head>
<body>
<div><p>流量检测系统</p></div>
{% load staticfiles %}
<link rel="shortcut icon"  href="{% static "/home/ip_p4.jpg" %}" />
<div>
 <div class="row div_function">
    <div class="col-xs-4">
        <div class="panel panel-default" id="pFunc1">
            <div class="panel-body">
                <strong>店铺</strong>
                <img  class ="iv_function" src="static/home/images/ic_store.svg">
        </div>
    </div>
</div>
<table>
<tr>
<td>

<a href="flow_collect"><input name="流量收集" type="button" value="流量收集"></a>
</td>
<td>
<a href="flow_cut"><input name="流量划分" type="button" value="流量划分"></a>
</td>
<td>
<a href="feature_extract"><input name="特征提取" type="button" value="特征提取"></a>
</td>
<td>
<a href="model_test"><input name="模型测试" type="button" value="模型测试"></a>
</td>
<td>
<a href="model_train"><input name="模型训练" type="button" value="模型训练"></a>
</td>
<td>
<a href="result_show"><input name="结果展示" type="button" value="结果展示"></a>
</td>
</tr>


</table>
</div>
</body>