<div><p>流量检测系统</p></div>
<div>
<table>
<tr>
<td>

<a href="flow_collect"><input name="流量收集" type="button" value="流量收集"></a>
</td>
<td>
<a href="flow_cut"><input name="流量划分" type="button" value="流量划分"></a>
</td>
<td>
<a href="feature_extract"><input name="特征提取" type="button" value="特征提取"></a>
</td>
<td>
<a href="model_test"><input name="模型测试" type="button" value="模型测试"></a>
</td>
<td>
<a href="model_train"><input name="模型训练" type="button" value="模型训练"></a>
</td>
<td>
<a href="result_show"><input name="结果展示" type="button" value="结果展示"></a>
</td>
</tr>


</table>
</div>